<div class="main-header">
 
  <div class="main-header__options1">

    <ul class="container main-options">

      <li><a href="#" class="option" (click)="active='Meats';clicked=true"  (mouseover)="active='Meats'">Meats</a>
        <ul class="test hidden" [ngClass]="{'show': active == 'Meats' && clicked==true }" >
          <li *ngFor="let item of listMeats">{{item}}</li>
        </ul>
      </li>

      <li><a href="#" class="option" (click)="active='Ver'; clicked=true" (mouseover)="active='Ver'" >Ver</a>
        <ul class="test hidden" [ngClass]="{'show': active == 'Ver' && clicked==true }">
          <li *ngFor="let item of listMeats">{{item}}</li>
        </ul>
      </li>

      <li><a href="">Friends</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Helps</a></li>
    </ul>

    <ul class="container profile-options">
      <li><a href=""><</a></li>
      <li><a href="">mail</a></li>
      <li><a href="">Profile</a></li>
    </ul>

  </div>

  <div class="main-header__options2">
    <ul class="container Meats-options">
      <li><a href="">TIENDA</a></li>
      <li><a href="">BIBLIOTECA</a></li>
      <li><a href="">COMUNIDAD</a></li>
      <li><a href="">USER</a></li>
    </ul>
  </div>

</div>