.main-header__options1{
  background-color: rgb(31, 36, 49);
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.main-header__options1 a{
  color: grey;
  padding: 6px 22px 6px 0px; 
  font-size: 12px;
  cursor: pointer;
}

.main-header__options1 a:hover{
  color: white;
}

.option-menu li a:hover{
  color: white;
}

.container {
  display: flex;
}

.profile-options{
  position: relative;
}

.main-header__options2{
  background-color: rgb(32, 34, 39);
  padding: 10px;
}

.main-header__options2 a{
  padding: 6px;
}

.option-menu {
  background-color: rgb(55,59,67);
  position: absolute;
  padding: 6px;
  padding-left: 18px;
  margin-top: 6px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.option {
  color: white;
}


.default-menu.active {
  text-decoration-thickness: 10px;
  color: white;
  
}

.default-menu {
  font-size: 20px;
  color: rgb(197,203,216);
}


